header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-button {
    margin-left: 20px;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: rgba(97, 97, 97, 1);
    color: white;
    border: 3px solid white;
}

.header-button:hover {
    border: 3px solid white;
    transition: transform .1s;
    transform: scale(0.90);
}

body {
    background-color: rgba(216, 140, 40, 255);
    padding: 1.5rem;
    font-family: Roboto, sans-serif;
}
