header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-button {
    margin-left: 20px;
    padding: 0.5rem;
}

body {
    background-color: rgba(216, 140, 40, 255);
    padding: 1.5rem;
    font-family: Roboto, sans-serif;
}
